.homeWrapper{
    background-image: url('../../images/grad.png');
    -moz-background-size: contain;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}