@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
.wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbarWrapper {
  top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0.1rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.navbarWrapper .navbarLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.navbarWrapper .navbarLogo img {
  height: 4.0625rem;
  width: auto;
}

.navbarWrapper .navbarLogo img:hover {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.navbarWrapper .navbarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.navbarWrapper .navbarList .navbarListItem {
  text-transform: uppercase;
  list-style: none;
  margin-left: 2.5rem;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbarWrapper .navbarList .navbarListItem:hover {
  font-size: 1rem;
  letter-spacing: 0.03rem;
  background-color: #edff00;
  border-radius: 0.2rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbarWrapper .navbarList .navbarListItem:nth-child(4) {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  padding: 14px 18px;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-color: #000;
  color: #fff;
}

.navbarWrapper .navbarList .navbarListItem:nth-child(4) img {
  padding: 0px 4px;
  height: 0.9rem;
  width: auto;
}

.navbarWrapper .navbarList .navbarListItem:nth-child(4):hover {
  background-color: #edff00;
  color: #000;
  border-color: #edff00;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Navbar.css.map */